VITE_APP_API_URL=http://localhost:8000/api
VITE_APP_URL=http://localhost:5173
VITE_APP_ENV=local
VITE_APP_USER_TYPE_KEY="ats_user_type"
VITE_APP_TOKEN_KEY="demo_token"
VITE_APP_USER_ROLES_KEY="demo_user_roles"
VITE_APP_USER_PERMISSIONS_KEY="demo_user_permissions"
VITE_APP_MODULE_LOCAL=true
VITE_APP_NAME="MERCHANT OVERSEAS ATS"
VITE_APP_LOGO=""

VITE_LANG=en

VITE_APP_API_URL=https://atsapi.merchantoverseas.org/api
# VITE_APP_API_URL=http://localhost:8000/api
VITE_APP_URL=https://ats.merchantoverseas.org
VITE_APP_ENV=production
VITE_APP_USER_TYPE_KEY="ats_user_type"
VITE_APP_TOKEN_KEY="ats_token"
VITE_APP_USER_ROLE_KEY="ats_user_role"
VITE_APP_MODULE_LOCAL=false
VITE_APP_NAME="MERCHANT OVERSEAS ATS"

VITE_LANG=en

# Forntend dynamic config
VITE_APP_NAME="MERCHANT OVERSEAS ATS"
VITE_APP_LOGO_URL="/Marchent Logo.svg"
VITE_APP_FOOTER_LOGO_URL="/Marchent Logo.svg"
VITE_APP_EMAIL="info@merchantoverseas.org"
VITE_APP_PHONE="+1 (123) 456-7890"
VITE_APP_ADDRESS="123 Main Street, City, Country"
VITE_APP_COPYRIGHT="MERCHANT OVERSEAS ATS"
VITE_APP_LOGIN_IMAGE_URL="/Marchent Logo.svg"
VITE_APP_LOGIN_TITLE="MERCHANT ATS"
VITE_APP_LOGIN_SUBTITLE="Please sign in to continue"
VITE_APP_LOGIN_BACKGROUND_IMAGE_URL="/Merchant-BG.png"