@import 'tailwindcss';

@theme {
  --color-primary: #10b981;
  --color-primary-light: #ecfdf5;
  --color-primary-gradient: #d1fae5;
  --color-primary-ring: #6ee7b7;
  --color-primary-hover: #059669;
  --color-primary-dark: #064e3b;
  --color-secondary: #e2232a;
  --color-secondary-dark: #4b5563;
  --color-tertiary: #0d71b9;
  --color-tertiary-dark: #0a5a8c;

}

/* @theme {
  --color-primary: #047857;
  --color-primary-light: #ecfdf5;
  --color-primary-gradient: #d1fae5;
  --color-primary-ring: #93c5fd;
  --color-primary-hover: #0369a1;
  --color-primary-dark: #047857;
  --color-secondary: #e2232a;
  --color-secondary-dark: #4b5563;
  --color-tertiary: #0d71b9;
  --color-tertiary-dark: #0a5a8c;
} */

body {
  font-family: 'Poppins', sans-serif;
}

.merriweather {
  font-family: "Helvetica", sans-serif;
}

/* Custom Scrollbar Styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
  transition: background 0.2s;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-hover);
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
}
